.header .nav{
  width: 100%;
  text-align: center;
}

.header .nav li{
  display: inline-block;
}

.header .nav li a{
  background-color: #008CBA;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 15px;
  cursor: pointer;
  border-radius: 10%;
  margin: 1%;

}

.header .nav li a:hover{
  background-color: green;
}

.clear{
  clear: both;
}

.product{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 120, 0.4);
  margin: 3% auto;
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8,
.product9{
  height: 200px;
  width: 100%;
  max-width: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}

.product1{
  background-image: url("../../imgs/JACKET.jpg");
}

.product2{
  background-image: url("../../imgs/tshirt.jpg");
}

.product3{
  background-image: url("../../imgs/hoody.jpg");
}

.product4{
  background-image: url("../../imgs/dress.jpg");
}

.product5{
  background-image: url("../../imgs/skirt.jpg");
}

.product6{
  background-image: url("../../imgs/women_pants.png");
}

.product7{
  background-image: url("../../imgs/boys.jpeg");
}

.product8{
  background-image: url("../../imgs/girls.jpeg");
}

.product9{
  background-image: url("../../imgs/boys2.jpeg");
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-details{
  display: flex;
  flex-direction: column;
}

.product-price{
  color: blue;
}

.shopping{
  color: green;
  text-align: center;
  margin-top: 100px;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.remove-item-btn{
  background-color: red;
  color: white;
  border: 2px;
  cursor: pointer;
  border-radius: 20px;
}

.cart-total p{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: blue;
}

.checkout-btn{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #008CBA;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  width: 90px;
  border-radius: 10%;
  display: block;
}

.add-to-cart-btn:hover{
  cursor: pointer;
  background-color: rgb(132, 175, 240);
}

@media screen and (min-width: 600px) {
  .product {
    width: 45%;
    margin: 2%;
  }
}

@media screen and (min-width: 900px) {
  .product {
    width: 30%;
    margin: 1%;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    width: 22%;
    margin: 1%;
  }
}
