* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "poppins", "sans-serif";
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url('../../imgs/logo.jpg');
    background-position: center;
    background-size: 102% 102%;
    position: relative;
  }
  



  
  .form_sign
   {
    width: 100%;
    max-width: 450px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 50px 60px 70px;
    text-align: center;
  }
  


  .form_sign h1
   {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
  }
  


  .form_sign h1::after 
  {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
  }


  
  .input-field 
  {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height;
    overflow: hidden;
  }

  
  .form_sign input[type="text"],
.form_sign input[type="email"],
.form_sign input[type="password"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f2f2f2;
}

.form_sign input[type="text"]:focus,
.form_sign input[type="email"]:focus,
.form_sign input[type="password"]:focus {
    outline: none;
}

.form_sign input[type="text"]::placeholder,
.form_sign input[type="email"]::placeholder,
.form_sign input[type="password"]::placeholder {
    color: #999;
}

  
/* Button styles */
.buttons {
  margin-top: 20px;
}

.buttons button  
  {
    flex-basis: 48%;
    color: #fff;
    height: 40px;
    width: 80px;
    border: 1;
    outline: 0;
    cursor: pointer;
    background: #3c00a0;
    transition: background 0.5s;
    margin: 5% 5%;
    padding-inline: 5px;
    border-style: auto;
    border-radius: 10%;
    font-family: Tahoma;
  }


button:hover {
  background-color: #2980b9;
}

/* Link button styles */
.transmit  button
  {
    flex-basis: 48%;
    color: #fff;
    height: 30px;
    width: 60px;
    border: 1;
    outline: 0;
    cursor: pointer;
    background:green;
    transition: background 0.5s;
    margin: 5% 5%;
    padding-inline: 5px;
    border-style: auto;
    border-radius: 10%;
    font-family: Tahoma;
  }

/* Show password button styles */
.show {
  font-size: 14px;
  font-weight: bold;
  color: #3498db;
  cursor: pointer;
    padding-right: 25px;
}

.show:hover {
  text-decoration: underline;
}


#awesome1{
    padding-right: 5px;
    margin-left: 10px;
}




/* Media queries for different screen sizes */
  

   /* Media queries for different screen sizes */
  
   @media screen and (max-width: 768px) and (min-height: 300px) and (max-height:600px){
    .container {
        
        background-position: center;
        background-size: 100% 100%;
        
      }
    .form_sign {
      padding: 10px;
      width:50%
    }
  
    .form_sign h1 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  
    .input-field {
      max-height: 50px;
      
    }
  
    input {
      padding: 15px 10px;
    }
  
    .buttons button {
      height: 50px;
      width: 90px;
      margin: 3% 3%;
    
    }}

   
 @media screen and (min-width: 992px) {
        .input-field {
          max-height: 80%;
        }
      }


  