/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #69265c;
  --main-color-alt: #4d1c43;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 30px;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
  font-weight: bold;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
  linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots-up {
  top: 150px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 10px #ddd;
}
header .logo {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .logo {
    height: 50px;
  }
}
header > nav > ul {
  display: flex;
}
header > nav > ul > li > a {
  color: #000000;
  position: relative;
  text-transform: capitalize;
  padding: 0 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 768px) {
  header > nav > ul > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
header > nav > ul > li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header > nav > ul > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header > nav > ul > li > a:hover::before {
  left: 0;
}
.mega-menu {
  margin-top: 5px;
  width: auto;
  position: absolute;
  left: 50%;
  padding: 20px 0;
  border-bottom: 4px solid var(--main-color);
  display: flex;
  gap: 20px;
  z-index: -1;
  opacity: 0;
  background-color: white;
  overflow: hidden;
  transition: var(--main-transition);
  transform: translateX(-50%);
  justify-content: space-evenly;
}
header .mega-menu .image img {
  max-width: 450px;
  min-height: 100%;
}
header nav li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
}
.mega-menu .links {
  min-width: 250px;
}
.mega-menu .links li {
  padding: 20px;
  transition: var(--main-transition);
}
.mega-menu .links li i {
  margin-right: 5px;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 2px solid #ddd;
}
.mega-menu .links li a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: bold;
}
.mega-menu .links li:hover {
  background-color: #e9e6e6;
}
@media (max-width: 768px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    width: 100%;
  }
  .mega-menu .links li {
    padding: 15px;
  }
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
@media (max-width: 992px) {
  header .mega-menu .image {
    display: none;
  }
}
/* End Header */


/* Start Landing */
.landing {
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 70px);
  padding-bottom: 120px;
}
.landing .container .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
.landing .container .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 992px) {
  .landing .container .text {
    text-align: center;
    margin: 0 auto;
  }
  .landing .container .text p {
    margin: 10px auto;
  }
  .landing .container .image img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */


/* Start team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  right: 0;
  background-color: #f3f3f3f3;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  z-index: -2;
  width: calc(100% - 60px);
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60px;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #777;
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: #777;
}
/* End team */


/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */