body{
    background-image: url("../imgs/imagesjpeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* product page css */

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    width: calc(33.33% - 20px);
    /* background-color: #f8f9fa; */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: 50%;
    height: 200px;
    
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }

  /* shopping cart css */

  /* تنسيق عناصر السلة */
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* تنسيق زر الإزالة */
  .remove-item-btn {
    background-color: #fff;
    color: red;
    border: none;
    cursor: pointer;
  }
  
  /* تنسيق زر الشراء */
  .checkout-btn {
    margin-top: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  /* تنسيق السعر الإجمالي */
  .total-price {
    margin-top: 10px;
    font-weight: bold;
  }
  /* header */
  .header .logo{
    width: 40%;
    float: left;
  }
  .header .nav{
    width: 60%;
    float: left;
    list-style: none;
  }
  .clear{
    clear: both;
  }
  .header .nav li{
    display: inline-block;
  }
  .header .nav li a{
    background-color:burlywood;
    color:black;
    font-size: x-large;
    text-decoration: none;
    display: block;
    padding: 15px;

  }